<mat-toolbar color="white">
  <h1 class="SignInbutton">
    StepsWise Tracking Tool
  </h1>
  <span fxFlex="grow"></span>

  <input type="text" id="search-query-nav" class="create" aria-label="Create" autocomplete="off"
    placeholder="Create New Project" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
    aria-owns="algolia-autocomplete-listbox-0" dir="auto" style=" color: #000;">

  <div fxHide.lt-sm>
    Welcome
  </div>

  <firebase-ui fxLayout="column" (signInSuccessWithAuthResult)="successCallback($event)"
    (signInFailure)="errorCallback($event)" (uiShown)="uiShownCallback()"></firebase-ui>



  <button class="SignInbutton">
    <fa-icon (click)="logout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
    </fa-icon>
  </button>
</mat-toolbar>


<mat-grid-list cols="10" rowHeight="50vh">

  <mat-grid-tile colspan="2" rowspan="2" [style.background]="'#F2F3F5'">
    <cdk-virtual-scroll-viewport itemSize="100" class="viewHeading">
      <div class="SignInbutton" color="#216fdb">
        <div>Profile</div>
        <span fxFlex="primary"></span>
      </div>

    <app-profile fxLayout="column" [profile]="profileRef"></app-profile>
  </cdk-virtual-scroll-viewport>

  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="2" [style.background]="'#F2F3F5'">
    <app-public (projctsDetails)="projctDetails($event)"></app-public>
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="2" [style.background]="'#F2F3F5'">
    <cdk-virtual-scroll-viewport itemSize="100" class="viewHeading">
      <div class="SignInbutton" >
        <div>Keys</div>
        <span fxFlex="primary"></span>
      </div>
    <app-nested-tree  fxLayout="column" [Sections]="keyRef" [latestProject]="userselectedProject" >
    </app-nested-tree>
  </cdk-virtual-scroll-viewport>

  </mat-grid-tile>


</mat-grid-list>