<mat-toolbar color="primary">
    <h1>
        StepsWise Tracking Tool
    </h1>
    <span fxFlex="grow"></span>
    <div fxHide.lt-sm>
        Welcome
    </div>
</mat-toolbar>
<mat-grid-list cols="10" rowHeight="50vh">

    <mat-grid-tile colspan="2" rowspan="2" [style.background]="'#F2F3F5'">
        <div *ngIf=" userinfoDetails | async as public  ">
            <div class="modal">

                hello<br>
                <div class="modal-container">
                    <div class="user-profile">
                        <div class="profile">
                            <p class="name">profileName{{public.profileName}}</p>
                            <p class="bio-1">Email:{{public.email}}</p>
                            <p class="bio-2">Gender: {{public.gender}}</p>
                            <p class="bio-2">Date: {{public.areaOfinterest}}</p>
                            <p class="bio-2">Skills: {{public.email}}</p>
                            <p class="bio-2">Location: {{public.location}}</p>

                            <br>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2" [style.background]="'#F2F3F5'">

    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2" [style.background]="'#F2F3F5'">
        <div>
            Keys
        </div>

    </mat-grid-tile>
</mat-grid-list>