<p>profile works!</p>
<div *ngIf="!profile">
    
        Google Login
        <button type="button" class="login-with-google-btn">
        Sign in with Google
    </button>
   
</div>

<div *ngIf="profile" class="modal">
    <h2 class="name">Profile</h2>
    <br>
    <div class="modal-container">
        <div class="profile">
            <p> PHOTO</p>
            <p class="name">{{profile?.profileName}}</p>
            <p class="bio-1">Email:{{profile?.email}}</p>
            <p class="bio-2">Gender: {{profile?.gender}}</p>
            <p class="bio-2">AreaOfinterest: {{profile?.areaOfinterest}}</p>
            <p class="bio-2">Skills: {{profile?.skills}}</p>
            <p class="bio-2">Location: {{profile?.location}}</p>

            <br>
        </div>
    </div>
</div>
