<div class="SignInbutton" color="#216fdb">
    <div>PublicProjects</div>
    <span fxFlex="primary"></span>
</div>



<cdk-virtual-scroll-viewport itemSize="100" class="scroll-viewport">
    <mat-accordion class="example-headers-align"*ngIf="(publicList | async) as projectDetails">

            <mat-expansion-panel fxLayout="row" style=" padding: 20px 10px;min-width:50%;" *ngFor="let details of projectDetails" (click)="projectsDetails(details)">
                <mat-expansion-panel-header style="box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3); min-width:50%; " >
                    <mat-panel-title fxFlex="grow" > 

                        <div  fxFlexAlign="center"  fxLayout="center center"  >
                            {{details.projectName}}
                       
                        </div>


                    </mat-panel-title>
                    <mat-panel-description>
                        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + details.photoUrl + ')', 'background-size': 'cover'  }" ></div>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-icon>account_circle</mat-icon>
                Created :  {{details.creationDate.toDate() | date:'dd-mm-yyyy'}}
                By: {{details.profileName}}

                {{details.description}}

            </mat-expansion-panel>
            <mat-divider></mat-divider>
    </mat-accordion>
</cdk-virtual-scroll-viewport>