<div class="header" color="#216fdb">
    <div>PublicProjects</div>
    <span fxFlex="primary"></span>
</div>


<mat-list class="listitem" role="list">
    <mat-list-item role="listitem">
        <cdk-virtual-scroll-viewport itemSize="100" class="scroll-viewport">
            <mat-accordion class="example-headers-align" *ngIf="(publicList | async) as projectDetails">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <mat-expansion-panel *ngFor="let details of projectDetails" (click)="projectsDetails(details)" cdkDrag>
                        <mat-expansion-panel-header class="mybutton" >
                            <mat-panel-title>
                                {{details.projectName}}

                            </mat-panel-title>
                            <mat-panel-description>
                                {{details.profileName}}
                                {{details.photoUrl}}
                                {{details.creationDate}}
                                {{details.projectUid}}

                                <mat-icon>account_circle</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        {{details.description}}

                    </mat-expansion-panel>
                    <mat-divider></mat-divider>
                </div>
            </mat-accordion>
        </cdk-virtual-scroll-viewport>
    </mat-list-item>
</mat-list>