.contactForm{
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    max-width: 320px;
   
  
  }
  .contactForm label{
    display: block;
    margin-bottom: 5px;
  }
  .contactForm input , .contactForm textarea{
    width: 100%;
    max-width: 300px;
    height:28px;
    border:1px solid #c7c7c7;
    padding:0 10px;
  
  }
  .contactForm div{
    margin-bottom: 15px;
  }
  .contactForm textarea{
    min-height: 100px;
  }
  .submitBtn{
    background-color: #0295F7;
    padding:10px;
    font-size:14px;
    border:1px solid #0295F7;
    color: #fff;
    border-radius:5px;
    width: 80px;
  }
  h3{
    margin-top:0 !important;
   
  }
  *{
    font-family:sans-serif;
  }